.en_tete {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    font-family:"Yeseva One", sans-serif;
    font-size: 0.6em;
    color: white;
}
.reseaux {
    display: flex; 
    gap: 1em;
    font-size:1.4em;
}
h2{
    color : white;
    font-family: "Yeseva One";
    font-size: 2.5em;
    margin-left: 2.5em;
    margin-top: 1em;    
} 
.couleur{
   color : rgb(33,201,153);
}
body{
    background-color:rgba(4,24,33,255);
}
.description{
    color : rgba(92,107,114,255);
    font-family: "Montserrat",sans-serif;
    margin-left: 6.1em;}  
nav{
    color : white;
    font-size: 0.8em;
    font-family: "Montserrat",sans-serif; 
    justify-content: center;
    margin-top: 1.2em;
    margin-bottom: 1.5em;
    gap: 0.6em;}
.nature, .portrait, .animaux, .art, .urbain{
    padding: 0.2em;}
.art:hover, .nature:hover,.portrait:hover,.urbain:hover,.animaux:hover{
    background-color: #21d399;}
footer{
    color: rgba(92,107,114,255);
    display: flex;
    justify-content:center;  
}
.type{
    display: flex;
    justify-content: center;
    font-size: 0.80em; 
    
}
